In [5]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("data.csv", index_col=0, delimiter=";")
df

     Neuroticismus  Extraverze
#
36              10          33
40              21          31
48              16          32
59              32          23
82              26          30
118             38          28
141             21          35
157             45          30
205             30          29
266             16          42
318              6          37
344             24          25
347             16          37
351             12          41
404             12          32
409             33          27
515             15          37
516             36          32
520             21          22
522             27          39
633             30          16
715             18          36
767             33          15
780             24          16
799             34          31
822             14          33
849             31          34
902             30          33
905             32          13
988             28          32

In [7]:
df.describe()

       Neuroticismus  Extraverze
count      30.000000   30.000000
mean       24.366667   30.033333
std         9.463117    7.595295
min         6.000000   13.000000
25%        16.000000   27.250000
50%        25.000000   32.000000
75%        31.750000   34.750000
max        45.000000   42.000000

# Úkol 2: Intervaly spolehlivosti
U třiceti lidí jsme měřili míru jejich extraverze a jejich neuroticismu. U obou veličin předpokládáme normální rozdělení. Stanovte následující intervalové odhady.

=====================================

Stanovte 80% oboustranný konfidenční interval pro střední hodnotu míry extraverze.

In [8]:
def conf_interval_for_mean(alpha, x):
    n = len(x)
    mu = np.mean(x)
    scale = stats.sem(x)
    return stats.t.interval(alpha, loc=mu, scale=scale, df=n-1)

conf_interval_for_mean(alpha=0.8, x=df["Extraverze"])

(28.214762000386507, 31.851904657187305)

Stanovte 95% horní mez odhadu (jednostranný konfidenční interval) pro střední hodnotu míry neuroticismu.

In [10]:
x = df["Neuroticismus"]
n=len(df)
mu = np.mean(x)
scale = stats.sem(x)
mu + scale * stats.t.ppf(0.95, df=n-1)

27.302283769465358

Stanovte 99% oboustranný konfidenční interval pro směrodatnou odchylku míry extraverze.

In [6]:
x = df["Extraverze"]
alpha = 0.01               # significance level = 5%
n = len(x)                 # sample sizes
s2 = np.var(x, ddof=1)     # sample variance
dof = n - 1                 # degrees of freedom

upper = (n - 1) * s2 / stats.chi2.ppf(alpha / 2, dof)
lower = (n - 1) * s2 / stats.chi2.ppf(1 - alpha / 2, dof)
print(lower, upper)
print(np.sqrt(lower), np.sqrt(upper))

31.966120539735268 127.50153823814415
5.653858906953309 11.29165790476067

Stanovte 95% horní mez odhadu (jednostranný konfidenční) pro rozptyl míry neuroticismu.

In [9]:
x = df["Neuroticismus"]
alpha = 0.05               # significance level = 5%
n = len(x)                 # sample sizes
s2 = np.var(x, ddof=1)     # sample variance
dof = n - 1                # degrees of freedom

upper = (n - 1) * s2 / stats.chi2.ppf(alpha, dof)
print(upper)

146.65196325031246