In [21]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import tabulate

In [4]:
df = pd.read_csv("data.csv", index_col=0, delimiter=";")
df

,Pohlavi,Neuroticismus,Extraverze,Otevrenost_vuci_zkusenosti,Privetivost,Svedomitost,RSES
#,,,,,,,
1,1,29,38,40,29,27,17
11,1,2,43,33,26,44,19
27,0,31,44,43,42,34,18
33,1,10,34,31,40,38,24
36,0,10,33,30,42,42,20
...,...,...,...,...,...,...,...
958,0,16,40,30,29,32,19
960,0,17,43,28,33,37,17
967,0,22,37,29,38,33,20
968,0,19,34,41,21,34,18
988,1,28,32,41,39,37,22

In [11]:
df_women = df.query("Pohlavi == 0")
df_men = df.query("Pohlavi == 1")
df_neo = df[["Neuroticismus", "Extraverze", "Otevrenost_vuci_zkusenosti", "Privetivost", "Svedomitost"]]

In [6]:
df_men.describe()

,Pohlavi,Neuroticismus,Extraverze,Otevrenost_vuci_zkusenosti,Privetivost,Svedomitost,RSES
count,26.0,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,1.0,21.846154,30.153846,34.653846,28.769231,30.884615,20.192308
std,0.0,9.181252,6.649465,4.824457,6.742745,7.355689,5.083457
min,1.0,2.000000,20.000000,24.000000,17.000000,17.000000,10.000000
25%,1.0,16.250000,24.000000,32.250000,23.250000,26.250000,16.250000
50%,1.0,21.500000,32.000000,34.000000,29.000000,30.500000,19.500000
75%,1.0,29.000000,35.500000,37.000000,33.500000,37.000000,24.000000
max,1.0,42.000000,43.000000,44.000000,40.000000,44.000000,31.000000

In [7]:
df_women.describe()

,Pohlavi,Neuroticismus,Extraverze,Otevrenost_vuci_zkusenosti,Privetivost,Svedomitost,RSES
count,94.0,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000
mean,0.0,26.691489,29.893617,32.744681,30.000000,30.159574,17.851064
std,0.0,8.965917,8.542705,5.587883,6.051748,7.278342,4.832590
min,0.0,6.000000,10.000000,20.000000,13.000000,9.000000,4.000000
25%,0.0,19.250000,24.250000,29.000000,26.000000,26.000000,14.000000
50%,0.0,27.000000,31.000000,33.000000,30.000000,31.500000,18.000000
75%,0.0,33.000000,36.000000,37.750000,34.000000,35.750000,21.000000
max,0.0,45.000000,46.000000,43.000000,42.000000,44.000000,31.000000

Statistical tests scipy: https://docs.scipy.org/doc/scipy/reference/stats.html#statistical-tests

# Úkol 8: Testy Pearsonova korelačního koeficientu
Souboru vysokoškolských studentů byl administrován dotazník NEO Pětifaktorový osobnostní inventář a Rosenbergova škála sebehodnocení (RSES). Pomocí Personova korelačního koeficientu ověřte následující hypotézy.

=====================================================

Jaká je velikost Pearsonova korelačního koeficientu počtu bodů na škále RSES a na škále Extraverze?

Otestujte hypotézu o tom, jestli je korelační koeficient dvou výše uvedených náhodných veličin roven nule, a uveďte nalezenou p-hodnotu.

In [9]:
a = df["RSES"].values
b = df["Extraverze"].values

stats.pearsonr(a, b)

(0.2790983065735647, 0.0020222037497721374)

Jaká je velikost Pearsonova korelačního koeficientu počtu bodů na škále RSES a na škále Přívětivost?

Otestujte hypotézu o tom, jestli je korelační koeficient dvou výše uvedených náhodných veličin roven nule, a uveďte nalezenou p-hodnotu.

In [10]:
a = df["RSES"].values
b = df["Privetivost"].values

stats.pearsonr(a, b)

(0.10312223121864428, 0.26236680375647264)

Mezi kterými dvěma osobnostními dimenzemi existuje nejmenší míra závislosti? Uveďte pozorovaný korelační koeficient.

In [20]:
cor_coef = np.corrcoef(df_neo.T)
table = tabulate.tabulate(cor_coef, tablefmt='html', headers=df_neo.columns)
display(table)

'<table>\n<thead>\n<tr><th style="text-align: right;">  Neuroticismus</th><th style="text-align: right;">  Extraverze</th><th style="text-align: right;">  Otevrenost_vuci_zkusenosti</th><th style="text-align: right;">  Privetivost</th><th style="text-align: right;">  Svedomitost</th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">      1        </td><td style="text-align: right;">   -0.43101 </td><td style="text-align: right;">                   0.0564433</td><td style="text-align: right;">   -0.221192 </td><td style="text-align: right;">    -0.294442</td></tr>\n<tr><td style="text-align: right;">     -0.43101  </td><td style="text-align: right;">    1       </td><td style="text-align: right;">                   0.124871 </td><td style="text-align: right;">    0.165001 </td><td style="text-align: right;">     0.202928</td></tr>\n<tr><td style="text-align: right;">      0.0564433</td><td style="text-align: right;">    0.124871</td><td style="text-align: right;">                   1        </td><td style="text-align: right;">    0.0612304</td><td style="text-align: right;">     0.110731</td></tr>\n<tr><td style="text-align: right;">     -0.221192 </td><td style="text-align: right;">    0.165001</td><td style="text-align: right;">                   0.0612304</td><td style="text-align: right;">    1        </td><td style="text-align: right;">     0.115062</td></tr>\n<tr><td style="text-align: right;">     -0.294442 </td><td style="text-align: right;">    0.202928</td><td style="text-align: right;">                   0.110731 </td><td style="text-align: right;">    0.115062 </td><td style="text-align: right;">     1       </td></tr>\n</tbody>\n</table>'

1.0

S jakou osobnostní dimenzí sdílí RSES nejvíce rozptylu? Kolik procent ho sdílí? (Uveďte jako desetinné číslo mezi 0 a 1.)

(Skripta, str 115)

In [26]:
for col in df_neo.columns:
    person_r, p_value = stats.pearsonr(df["RSES"], df[col])
    r2 = person_r**2
    print(f"r2(RSES, {col})={r2}")

r2(RSES, Neuroticismus)=0.2929575571364461
r2(RSES, Extraverze)=0.07789586473223152
r2(RSES, Otevrenost_vuci_zkusenosti)=0.005063787509312278
r2(RSES, Privetivost)=0.010634194571511532
r2(RSES, Svedomitost)=0.036702290205977255

Liší se velikost korelačního koeficientu mezi RSES a Neuroticismem v podsouboru mužů a žen? Otestujte pomocí Fisherovy Z transformace a uveďte nalezenou p-hodnotu (pro její zjištění použijte t rozdělení s n+m-4 s.v.).

(Skripta, str. 115 - 116)

In [35]:
def fisher_z_transform(r):
    return 1 / 2 * np.log((1+r) / (1-r))

In [36]:
a1 = df_men["RSES"].values
b1 = df_men["Neuroticismus"].values

a2 = df_women["RSES"].values
b2 = df_women["Neuroticismus"].values

r1, p1 = stats.pearsonr(a1, b1)
r2, p2 = stats.pearsonr(a2, b2)
print(f"r_men={r1}, p_value={p1}")
print(f"r_women={r2}, p_value={p2}")

n1 = len(a1)
n2 = len(a2)

z1 = fisher_z_transform(r1)
z2 = fisher_z_transform(r2)

u = (z1 - z2) / np.sqrt( 1/(n1-3) + 1/(n2-3))
u = min(u, -u)  # To get left quantile

p_value = stats.t.cdf(u, loc=0, scale=1, df=n1+n2-4)
p_value *= 2  # Both sided test
print(f"{u=}, {p_value=}")

r_men=-0.45699780276573515, p_value=0.01892179461151362
r_women=-0.5395922427667977, p_value=2.0017606773544608e-08
u=-0.47163062132309463, p_value=0.6380763552493098

Liší se hodnota korelačního koeficientu mezi Extraverzí a Přívětivostí od hodnoty 0.2? Ověřte pomocí Z transformace a uveďte nalezenou p-hodnotu (získanou z normálního rozdělení).

(Skripta, str. 115 - 116)

In [43]:
a = df["Extraverze"].values
b = df["Privetivost"].values

r0 = 0.2

n = len(a)

r, p_value = stats.pearsonr(a, b)
print(f"{r=}, {p_value=}")

z0 = fisher_z_transform(r0)
z = fisher_z_transform(r)
u = (z - z0) * np.sqrt(n-3)
u = min(u, -u)  # To get left quantile

p_value = stats.norm.cdf(u, loc=0, scale=1)
p_value *= 2  # Both sided test
print(f"{u=}, {p_value=}")

r=0.16500072292241033, p_value=0.07171255950194998
u=-0.3916655220725695, p_value=0.6953053681614734