In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import tabulate
from collections import  namedtuple
from statsmodels.stats.power import TTestIndPower, TTestPower, zt_ind_solve_power
# from autoviz.AutoViz_Class import AutoViz_Class
# %matplotlib inline

### Odkazy na relevantní materiály
- [Statistické testy ve scipy](https://docs.scipy.org/doc/scipy/reference/stats.html#statistical-tests)
- [Statsmodels dokumentace](https://www.statsmodels.org/dev/index.html)
- [Skripta](https://dostal.vyzkum-psychologie.cz/skripta_statistika.pdf)
- [Zadání příkladů](https://dostal.vyzkum-psychologie.cz/stat/index.php)

# Úkol 15: Wilcoxonův test a znaménkový test
V rámci adiktologického výzkumu byla vznesena hypotéza o tom, že se ceny nejrůznějších nelegálně distribuovaných návykových látek významně liší ve dvou regionech České republiky. Tyto rozdíly by mohly mít vztah k pozorovaným odlišnostem v chování uživatelů těchto látek.

Výzkumník proto s pomocí terénních pracovníků zmapoval, za jakou cenu je k dostání jedna jednotka (obvykle gram) každé z osmnácti vybraných návykových látek v jednom a v druhém regionu. Ověřte pomocí neparametrických testů hypotézu o tom, že se ceny v regionech liší a pozorované rozdíly nejsou jen dílem náhody.

Osmnáct dvojic zjištěných cen je uvedeno níže. Jako své odpovědi uvádějte oboustranné p-hodnoty.

---

Načtení a vizualizace dat

In [4]:
df = pd.read_csv("data.csv", index_col=0, delimiter=";")
df

     Cena_v_regionu_1_(Kc)  Cena_v_regionu_2_(Kc)  diff
#
36                     650                    620    30
40                    1530                   1660  -130
48                     820                   1340  -520
82                     360                    700  -340
205                   1530                   1350   180
318                    320                    640  -320
344                    750                   1160  -410
347                    780                    790   -10
409                   1270                   1940  -670
515                   1290                   1680  -390
522                    410                    440   -30
633                    130                    450  -320
715                   1720                   2260  -540
767                    960                    560   400
799                    380                   1060  -680
822                    910                   1310  -400
849                   1040                    740   300
902                   1400                   1680  -280

In [3]:
df.describe()

       Cena_v_regionu_1_(Kc)  Cena_v_regionu_2_(Kc)
count              18.000000              18.000000
mean              902.777778            1132.222222
std               476.850026             551.239838
min               130.000000             440.000000
25%               470.000000             655.000000
50%               865.000000            1110.000000
75%              1285.000000            1582.500000
max              1720.000000            2260.000000

---

Ověřte pomocí asymptotického znaménkového testu hypotézu o rozdílu cen. (Použijte korekci na spojitost.)

In [9]:
df["diff"] = df["Cena_v_regionu_1_(Kc)"] - df["Cena_v_regionu_2_(Kc)"]
S_plus = sum(df["diff"] > 0)
S_minus = sum(df["diff"] < 0)
S = min(S_plus, S_minus)
n = S_plus + S_minus

print(f"{S_plus=}, {S_minus=}")

z = (2*S - n) / np.sqrt(n)

p = stats.norm.cdf(z)
p = 2 * min(p, 1-p)

print(f"{z=}, {p=}")

S_plus=4, S_minus=14
z=-2.3570226039551585, p=0.018422125454099002

In [13]:
# INCORRECT

[(Skripta, str. 148-151)](https://dostal.vyzkum-psychologie.cz/skripta_statistika.pdf#page=148)

Ověřte pomocí přesného znaménkového testu hypotézu o rozdílu cen. (K výpočtu využijte binomické rozdělení.)

In [12]:
2 * stats.binom.cdf(k=S, n=n, p=0.5)

0.0308837890625

Ověřte pomocí Wilcoxonova párového testu hypotézu o rozdílu cen. (Nepoužívejte korekci na spojitost ani na případné shody v pořadí.)

In [24]:
x = df["Cena_v_regionu_1_(Kc)"]
y = df["Cena_v_regionu_2_(Kc)"]
stats.wilcoxon(x=x, y=y, correction=False, alternative='two-sided', mode="exact", zero_method="wilcox")

WilcoxonResult(statistic=27.0, pvalue=0.00896453857421875)

In [25]:
# INCORRECT

[(Skripta, str. 151)](https://dostal.vyzkum-psychologie.cz/skripta_statistika.pdf#page=151)